<header class="header">
  <div>
    <!-- <p class="header-label">Mostrar próximos:</p> -->
    <ul class="header-filter">
      <button
        class="header-button"
        [ngClass]="{ selected: daysRange === 7 }"
        (click)="onChangeDaysRange(7)"
      >
        7 dias
      </button>
      <button
        class="header-button"
        [ngClass]="{ selected: daysRange === 15 }"
        (click)="onChangeDaysRange(15)"
      >
        15 dias
      </button>
      <button
        class="header-button"
        [ngClass]="{ selected: daysRange === 30 }"
        (click)="onChangeDaysRange(30)"
      >
        30 dias
      </button>
    </ul>
  </div>
  <div>
    <!-- <p class="header-label">Visualizar:</p> -->
    <ul class="header-filter">
      <button
        class="header-button"
        [ngClass]="{ selected: viewMode === 'offer' }"
        (click)="onChangeViewMode('offer')"
      >
        Oferendas
      </button>
      <button
        class="header-button"
        [ngClass]="{ selected: viewMode === 'bonus' }"
        (click)="onChangeViewMode('bonus')"
      >
        Bônus
      </button>
    </ul>
  </div>
</header>
