.header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 10;
  flex-wrap: wrap;
  gap: 12px;
  padding-block: 24px;
  background-color: #212121;
  border-bottom: 1px solid #303030;
}

@media (max-width: 824px) {
  .header {
    padding-inline: 12px;
  }
}

.header-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  color: #a6a6a6;
  margin-bottom: 4px;
}

.header-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: white;
}

.header-filter {
  border: 1px solid #303030;
  display: flex;
  width: max-content;
  border-radius: 4px;
  background-color: #2b2b2b;
  box-shadow: transparent 0px 0px 0px 1px inset;
}

.header-button {
  height: 32px;
  font-size: 12px;
  cursor: pointer;
  padding: 0px 12px;
  background-color: #2b2b2b;
  border-radius: 4px;
  box-shadow: #303030 0px 0px 0px 1px inset;
  border: none;
  color: #a6a6a6;
}

.header-button:hover,
.selected:hover {
  color: #ffffff;
}
.selected {
  background-color: #212121;
  color: #ffffff;
}

.header-input {
  height: 32px;
  padding-inline: 8px;
  background-color: #212121;
  border-radius: 4px;
  border: none;
  box-shadow: #303030 0px 0px 0px 1px inset;
  color: #ffffff;
  outline: none;
  width: 32px;
  text-align: center;
}
