<app-skeleton *ngIf="loading; else content" />
<ng-template #content>
  <app-header
    (viewModeEvent)="onChangeViewMode($event)"
    (daysRangeEvent)="onChangeDaysRange($event)"
  />
  <ul class="offering-list">
    <li
      class="offering-item offering-today"
      [ngClass]="{ 'offering-today': offer.date === today }"
      *ngFor="let offer of filteredOfferings"
    >
      <div class="offering-infos">
        <h2
          class="offering-date"
          [ngStyle]="{ color: offer.date === today && 'white' }"
        >
          {{ offer.date | date : "dd/MM/yy" }}
        </h2>
        <span class="offering-badge" *ngIf="offer.date === today">hoje</span>
        <img
          class="offering-image"
          *ngIf="viewMode === 'offer'"
          [src]="offer.item.imageURL"
          [alt]="offer.item.name"
        />
      </div>
      <div>
        <h2 class="offering-title" *ngIf="viewMode === 'offer'">
          {{ offer.quantity }}x {{ offer.item.name }}
        </h2>
        <div class="offering-bonus">
          <p
            class="offering-bonus-name"
            [ngStyle]="{ 'margin-top': viewMode === 'offer' ? '4px' : '8px' }"
          >
            Bônus - <b>{{ offer.bonus.name }}: </b>
          </p>
          <p
            class="offering-bonus-description"
            [innerHTML]="offer.bonus.desc"
          ></p>
        </div>
        <div class="offering-rewards" *ngIf="viewMode === 'offer'">
          <p>{{ offer.reward.kamas }} <b>₭</b></p>
          <p>
            {{ offer.reward.xp }} <i class="italic"><b>XP</b></i>
          </p>
          <p>{{ offer.reward.almatokens }}x Almaficha</p>
        </div>
      </div>
    </li>
  </ul>
</ng-template>
