.offering-list-item {
  display: flex;
  flex-basis: 1;
  padding-block: 8px;
  border-bottom: 1px solid #303030;
}

.offering-list-item:hover {
  background-color: #262626;
}

.offering-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 12px;
}

.offering-image {
  width: 60px;
  height: 60px;
}

.offering-item {
  position: relative;
}

.offering-quantity {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: white;
  background-color: #00000040;
  transform: translateY(-50%);
}

.offering-date {
  padding: 8px 12px;
  padding-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: #a6a6a6;
}

.offering-title {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: white;
}

.offering-bonus {
  padding: 8px 12px;
  padding-right: 24px;
  padding-top: 0;
  font-size: 12px;
}

.offering-bonus-name {
  margin-block: 4px;
  color: #a6a6a6;
}

.offering-bonus-description {
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.6;
  color: white;
}

.offering-rewards {
  display: flex;
  padding: 8px 12px;
  line-height: 1.6;
  gap: 16px;
  color: #a6a6a6;
}

.offering-badge {
  background-color: #dc2626;
  color: white;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 4px 6px;
  border-radius: 4px;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.offering-today {
  animation: today-background 2s linear infinite alternate;
}

@keyframes today-background {
  0% {
    background-color: #303030a5;
  }
  100% {
    background-color: #3b3b3b;
  }
}
