header {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 32px;
  background-color: var(--shadow-color);
}

.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 824px;
}

@media (max-width: 824px) {
  .header-content {
    padding-inline: 12px;
  }
}

.logo {
  height: 16px;
}

.content {
  margin: 0 auto;
  max-width: 824px;
}

/* .feedback {
  color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}
.feedback:hover {
  cursor: pointer;
} */

footer {
  padding: 24px 12px;
  line-height: 1.4;
  text-align: center;
}
