<main>
  <header>
    <div class="header-content">
      <img
        class="logo"
        src="../assets/easyalmanax-logo.svg"
        alt="Logo Easy Almanax"
      />
      <a
        class="feedback link"
        href="https://forms.gle/ueRGWJUBhmTBYjA79"
        target="_blank"
        >Enviar Feedback</a
      >
    </div>
  </header>
  <section class="content">
    <app-offering-list />
  </section>
  <footer>
    Desenvolvido por
    <a class="link" href="https://github.com/luangiomo" target="_blank"
      >Luan Giomo (Dlenk)</a
    >. Informações coletadas da API
    <a class="link" href="https://dofusdb.fr/fr/" target="_blank">Dofus DB</a>.
  </footer>
</main>
